.hidden {
   display: none !important;
}

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
}
#login-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 2;
}

#login-form > input {
   border: none;
   border-bottom: 5px solid #fff;
   background: transparent;
   width: 90%;
   outline: none;

   text-align: center;
   font-size: 30px;
   font-weight: bold;
   color: #fff;
   margin-top: 10px;
}

.nameQ {
   font-size: 60px;
   color: #fff;
   margin: 0 auto;
   margin-top: -23px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#greeting {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 75px;
   font-weight: bold;
   color: white;
   z-index: 2;
}

#clock {
   font-size: 150px;
   font-weight: bolder;
   color: white;
   z-index: 1;
}

.viewport {
   display: flex;
   height: 100%;
   width: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 1;
   flex-direction: column;
   align-items: center;
   align-content: center;
   justify-content: center;
   z-index: 1;
}

#todo-form {
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 2;
}


#quote {
   display: flex;
   flex-direction: column;
   align-items: center;
   z-index: 1;
   font-family: 'Times New Roman', Times, serif;
   font-size: 30px;
   font-weight: 600;
   position: absolute;
   bottom: 0px;
}

#todo-list {
   color: #fff;
   z-index: 1;
}

.bgdiv {
   position: absolute;
   top : 0;
   left: 0;
   right: 0;
   bottom: 0;
   contain: layout paint style;
}

.bgimg {
   object-fit: cover;
   width: 100%;
   height: 100%;
   position: absolute;
   object-position: center;
   z-index: -1;
}

.bgop {
   object-fit: cover;
   width: 100%;
   height: 100%;
   position: absolute;
   object-position: center;
   background-color: black;
   opacity: 0.33;
   z-index: 0;
}

.searchbox {
   width: 35%;
   height: 5%;
   z-index: 2;
   border-radius: 8px;
   box-shadow: 0 4px 30px rgb(0 0 0 / 25%);
   display: flex;
   align-items: center;
   margin-top: 10px;
   
   background-color: hsla(0,0%,100%,.5);
   color: #000;
   transition: background-color .3s,box-shadow .3s;
   backdrop-filter:blur(8px);
}

.searchbox > a {
   margin: 5px;
}

.searchbox > a > img {
   vertical-align: middle;
   filter: grayscale(1);
}

.search {
   width: 90%;
   height: 100%;
   background-color: transparent;
   font-size: 16px;
   border: none;
   outline: none;
}

.search::placeholder {
   font-weight: 600;
   color: white;
}

.gitbox {
   position: absolute;
   top: 10px;
   right: 10px;
   z-index: 20;
   cursor: pointer;
}

.gitbox > a {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50px;
   height: 50px;
   cursor: pointer;
   white-space: nowrap;
   background-color: hsla(0,0%,100%,.4);
   border-radius: 50%;
}

.slidebtn {
   z-index: 2;
}

.slidebtn > button {
   margin: 0;
   padding: 0;
   border-radius: 50%;
   width: 15px;
   height: 15px;
   background: hsla(0,0%,100%,.4);
   border: 0;
   cursor: pointer;
}

#slide_div1 {
   z-index: 10;
}

#slide_div2 {
   z-index: 10;
}