.hidden {
   display: none;
}

html, body {
   width: 100%;
   height: 100%;
   margin: 0;
}

.bgdiv {
   position: absolute;
   top : 0;
   left: 0;
   right: 0;
   bottom: 0;
   contain: layout paint style;
   z-index: -1;
}

.bgimg {
   object-fit: cover;
   width: 100%;
   height: 100%;
   position: absolute;
   object-position: center;
}

.viewport {
   display: flex;
   height: 100%;
   width: 100%;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   opacity: 1;
   flex-direction: column;
   align-items: center;
   align-content: center;
   justify-content: center;
}